<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {{ page.title }} {% if page.title %} | {% endif %} TotallyPaul: The Fansite </title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
 
  <div id="main">
 
    <header>
      <h1> {{ page.title }} {% if page.title %} | {% endif %}TotallyPaul: The Fansite </h1>
    <header>
<hr/>
    <nav role="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/pix">Pix</a></li>
        <li><a href="/quotes">Quotes</a></li>
        <li><a href="/music">Music</a></li>
      </ul>
    </nav>
 
    {{ content }}
 
    <footer>
      <p>&copy; The TotallyPaul Fansite 2011 | All Rights Reserved. </p>
    </footer>
 
  </div>
</body>
</html>
